.shadow{
    text-shadow: 0 2px 5px black !important;
}
.shadow2{
  color: white;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 0);
}
.shadow3{
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.white-text {
    color: white !important;
}
.white-text a{
    color: white !important;
}
.no-decoration {
    text-decoration: none;
}
.no-decoration a {
    text-decoration: none;
}

.no-pading{
    padding: 0 !important;
}

.round {
    border-radius: 50% !important;
    padding: 0 !important;
}


.v-chip--disabled {
    opacity: 1 !important;
    color: black !important;
}
.theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: black !important;
}

.v-select__selection--disabled {
    color: black !important;
}

.v-dialog.v-dialog--active .v-card__title {
    cursor: grab;
}

.v-dialog.v-dialog--active .v-card__title:active {
    cursor: grabbing;
}

