/////////////fade transition
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active {
  transition: opacity 2s ease-in;
}

.fade-leave-active {
  transition: opacity 1s ease-out;
}
//////////////page transition
.page-enter {
  transform: translateX(300px);
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: all 1s ease;
}

.page-leave-to {
  transform: translateX(-300px);
  opacity: 0;
}

//////// for group transition
.slide-up-enter {
  transform: translateY(500px);
  opacity: 0;
}
.slide-up-leave-to {
  transform: translateY(-500px);
  opacity: 0;
}
.slide-up-enter-active {
  transition: all 1s ease-in;
}

.slide-up-move {
  transition: transform 1s ease-out;
}

///////slide-down
.slide-down-enter {
  transform: translateY(-500px);
  opacity: 0;
}
.slide-down-leave-to {
  transform: translateY(500px);
  opacity: 0;
}
.slide-down-enter-active {
  transition: all 1s ease-in;
}

.slide-down-move {
  transition: transform 1s ease-out;
}

/////slide-fade
.slide-fade-enter-active {
  transition: all 2s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-400px);
  opacity: 0;
}

