$table-colors={
  grey:#dddddd,
  light-green: #EaFAEA,
  light-blue:#e8f3f5
}

$scrollbarBorderRadius = 6px
$scrollbarWidth = 8px
$grid-breakpoints ?= {
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1280px - 16px,
  xl: 1920px - 16px
}
$_cw-theme-colors = {
  primary: #FF6C00,
  secondary: #312F52,
  accent: #89A9E2,
  error: #D62305,
  information: #2196F3,
  success: #007D3F,
  indigo: #1E1933,
  grey: #DCD7CE,
  dark_grey: #7D786D,
  ink: #313A5D,
  sky: #89A9E2
}

$color = {
  black: {
    default: #000,
    alpha-0087: alpha(#000, 0.87),
    alpha-0054: alpha(#000, 0.54),
    alpha-0023: alpha(#000, 0.23),
    alpha-0019: alpha(#000, 0.19),
    alpha-0015: alpha(#000, 0.15),
    alpha-0012: alpha(#000, 0.12),
    alpha-0007: alpha(#000, 0.07)
  },
  grey: {
    default: $_cw-theme-colors.grey,
    medium: #B5B1A8,
    dark: #7D786D,
    light: #E3E3E3,
    tint-50: tint($_cw-theme-colors.grey, 48%),
    tint-70: blue(tint($_cw-theme-colors.grey, 72%), 241)
  },
  white: {
    default: #FFF,
    warm: #FAF9F8
  },
  cancan: {
    default: #D288AB
  }
  ink: {
    default: $_cw-theme-colors.ink
  }
  sky: {
    default: $_cw-theme-colors.sky
  }
  indigo: {
    default: $_cw-theme-colors.indigo
  },
  information: {
    alpha-0007: alpha($_cw-theme-colors.information, 0.07),
    default: $_cw-theme-colors.information
  },
  primary: {
    default: $_cw-theme-colors.primary,
    dark-20: darken($_cw-theme-colors.primary, 15%),
    light-10: lighten($_cw-theme-colors.primary, 10%),
    light-90: lighten($_cw-theme-colors.primary, 90%)
  },
  secondary: {
    default: $_cw-theme-colors.secondary,
    light-10: blue(lighten($_cw-theme-colors.secondary, 14%), 96)
  },
  accent: {
    default: $_cw-theme-colors.accent,
    light-10: lighten($_cw-theme-colors.accent, 10%)
  },
  success: {
    alpha-0007: alpha($_cw-theme-colors.success, 0.07),
    default: $_cw-theme-colors.success
  },
  error: {
    default: $_cw-theme-colors.error,
    alpha-0007: alpha($_cw-theme-colors.error, 0.07)
  },
  status: {
    default: $_cw-theme-colors.secondary,
    completed: #42C88A,
    cancelled: #ED5C5C
  }
}
// predefined colours for components
$color.border = $color.grey.default
$color.link = {
  default: $color.primary.default,
  hover: $color.primary.light-10
}
$color.card = {
  background: $color.white.warm
}
$color.form = {
  border: $color.grey.medium,
  error: {
    background: $color.error.alpha-0007
  }
}
$color.table = {
  border: $color.grey.default,
  background: transparent,
  background-alt: $color.white.warm
}
$color.text = {
  default: $color.secondary.light-10,
  heading: $color.secondary.default,
  heading-alt: $color.grey.dark
}
$color.tooltip = {
  background: $color.white.default,
  text: $color.secondary.light-10
}
$color.slider = {
  background: $color.secondary.default,
  track: $color.grey.medium,
  thumb: $color.white.default
}
$card-fixed-width = 480px
$card-fixed-width-small = 420px
$rangeSlider-handle-size = 24px
// unit: px
$base-font-size = 16
// container padding, unit: px
$default-container-padding = 16
// default form elements variables, unit: px
$default-form-element-border-radius = 2
// default card box shadow
$default-card-box-shadow = 0 0 10px $color.black.alpha-0015
$hover-card-box-shadow = 0 0 15px ($color.black.alpha-0015), 0 3px 6px $color.black.alpha-0023
$mediaQueries = {
  small: 660px,
  medium: 960px,
  large: 1264px,
  extraLarge: 1904px
}
$easings = {
  easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715),
  easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1),
  easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
  easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
  easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1),
  easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
  easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1),
  easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
  easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1),
  easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1),
  easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
  easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1),
  easeInOutExpo: cubic-bezier(1, 0, 0, 1),
  easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335),
  easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1),
  easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86),
  easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
// vuetify default transition
$default-transition = 0.3s $easings.easeInOutQuad
